mock==2.0.0

pandas==0.23.4

scikit-learn==0.20.2

scipy==1.2.0

Flask==1.0.2

Flask-Cors==3.0.7

Keras==2.2.4

adanet==0.6.2

autokeras==0.3.7

boto3==1.9.134

flask-restplus==0.11.0

lightgbm==2.2.3

seaborn==0.9.0

smart-open==1.8.2

statsmodels==0.9.0

tensorflow==2.7.2

wheel==0.33.4

xgboost==0.90

h5py==2.9.0

matplotlib==3.0.3

opencv-python==4.0.0.21

s3fs
psycopg2
numpy==1.15.4
